@tailwind base;
@tailwind components;
@tailwind utilities;

.partner-carousel {
  padding: 20px 0;
}

.partner-carousel .swiper-slide {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.partner-carousel .swiper-slide:hover {
  opacity: 1;
}

.logo-partenaire {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logo-partenaire:hover {
  filter: grayscale(0%);
}